.DS_Store
src/lib/
src/Buggy_Context_Abstraction/abstraction/target/
src/Buggy_Context_Abstraction/abstraction/.classpath
src/Buggy_Context_Abstraction/abstraction/.project
src/Buggy_Context_Abstraction/abstraction/.settings/
src/Continuous_Learning/Defects4J_patches/*
src/Continuous_Learning/models/*
__pycache__/

# python envs
venv/
env/
